.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background-image: url('https://classplusapp.com/assets/img/logo-color.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aliceblue;
  }